{% extends 'shared/layout.html' %}
{% load i18n %}
{% block head %}
  {% trans "Edit bookmark - Linkding" as page_title %}{{ block.super }}
{% endblock %}
{% block content %}
  <div class="bookmarks-form-page">
    <main aria-labelledby="main-heading">
      <div class="section-header">
        <h1 id="main-heading">{% trans "Edit bookmark" %}</h1>
      </div>
      <ld-form data-submit-on-ctrl-enter>
        <form action="{% url 'linkding:bookmarks.edit' bookmark_id %}?return_url={{ return_url|urlencode }}"
              method="post"
              novalidate>
          {% include 'bookmarks/form.html' %}
        </form>
      </ld-form>
    </main>
  </div>
{% endblock %}
